{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="{% static 'climatemonitor/images/favicon.ico'%}">
    <title>Climate Monitor</title>
</head>
<body>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

    <div style="text-align:right;">
        {% if user.is_authenticated %}
            <ul style="list-style: none;">
                <li style="display: inline">{{user.username}}</li>
                <li style="display: inline"><a href="{% url "climatemonitor:signout" %}">Log Out</a></li>
            </ul>
        {% endif %}
    </div>

    {%block scripts%}
    {% endblock scripts%}

    {% block content %}
    {% endblock content %}
</body>
</html>