{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="{{theme}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="{% static 'climatemonitor/images/favicon.ico'%}">
    <title>Climate Monitor</title>
</head>
<body>    
    <!-- https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js -->
    <!-- https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js -->
    <script src="{% static 'climatemonitor/moment.min.js'%}"></script>
    <script src="{% static 'climatemonitor/Chart.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'climatemonitor/style.css' %}">

    <div class="nav">
        {% if user.is_authenticated %}
            <ul class="nav">
                <li style="display: inline">{{user.username}} | </li>
            {% if user.is_staff %}
                <li ><a href="{% url "admin:index" %}">Admin Site</a> | </li>
            {% endif %}
                <li style="display: inline"><a href="{% url "climatemonitor:signout" %}">Log Out</a></li>
            </ul>
        {% endif %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

    {% block content %}
    {% endblock content %}
</body>
<footer>
    <ul class="footer-links">
        <li>
                <a href="{% url "climatemonitor:attributions" %}">Attributions</a>
        </li>
    </ul>
</footer>
</html>